<!doctype html>
<html ng-app="page" ng-controller="pageController as page" id="pageController">
<head>
  <title>Rodrigo Soria - Full Stack Developer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">

  <script src="js/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="lib/fullpage/jquery.fullPage.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/lib/fullpage/vendors/jquery.easings.min.js"></script>
  <script type="text/javascript" src="/lib/fullpage/vendors/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="/lib/fullpage/jquery.fullPage.js"></script>

</head>
<body>
  <div class="navbar navbar-default navbar-orange" role="navigation" ng-style="navbarStyle">
    <div class="container">
      <div class="navbar-header">
        <img src="assets/img/adevices_tp.png" height="70px" style="padding-top: 10px;">
      </div>
      <div class="navbar-text">
        <a class="navbar-brand" href="/" ng-click="page.home()">
          <p style="font-family: 'Quicksand'">
            <b>Rodrigo Soria</b><br>
            Full Stack Developer
          </p>
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <div class="menu-pointer-selected" ng-style="leftPointerStyle"></div>
        <div class="menu-pointer" ng-style="leftStyle"></div>
        <ul class="nav navbar-nav" id="menu">
          <li class="">
            <a ng-click="home()" ng-mouseover="leftStyle={'margin-left':'18px'}" href="#">
              Inicio</a>
          </li>
          <li class="">
            <a ng-click="aboutme()" ng-mouseover="leftStyle={'margin-left':'97px'}" href="#">
              Sobre mi</a>
          </li>
          <li class="">
            <a ng-click="projects()" ng-mouseover="leftStyle={'margin-left':'170px'}" href="#">
              CV</a>
          </li>
          <li class="">
            <a ng-click="contact()" ng-mouseover="leftStyle={'margin-left':'243px'}" href="#">
              Contacto
            </a>
          </li>
          <!--
          <li class="">
            <a ng-click="blog()" ng-mouseover="leftStyle={'margin-left':'320px'}" href="#">
              Blog
            </a>
          </li>
          -->
        </ul>
      </div>

    </div>
  </div>

  <div id="fullpage">
    <div class="section" data-anchor="section1">
      <div class="slide" data-anchor="slide1" id="slide1">
        <div class="container slide-container">
          <div class="row">
            <div class="col-xs-3">
              <div class="row">
                <!--
                <div class="col-xs-6">
                  <img src="assets/img/angularjs-logo.png" width="250px">
                  <img src="assets/img/nodejs-light.png" width="250px">
                  <img src="assets/img/jquery_logo.png" width="250px" style="margin-top: 10px">
                  <img src="assets/img/logo-mongodb-onwhite.png" width="250px" style="margin-top: 20px">
                  <img src="assets/img/google-analytics-logo.png" width="250px" style="margin-top: 30px">
                  <img src="assets/img/mysql_logo.png" width="250px" style="margin-top: 30px">
                </div>
                -->
                <div class="col-xs-6">
                  <img src="assets/img/HTML5_Logo_512.png" width="170px" style="margin-top: 20px">
                  <img src="assets/img/css3.png" width="120px" style="margin-top: 50px; margin-left: 25px">
                  <img src="assets/img/JavaScript-logo.png" width="120px" style="margin-top: 50px; margin-left: 25px">
                </div>
              </div>
            </div>
            <div class="col-xs-9">
              <h1 style="font-size: 70px; color: #970F01;">Full Stack<br>Web Developer</h1>

              <p style="color: #000000; font-size: 60px; text-align: left; font-weight: bold;">
                Compass, Sass, Less, Bootstrap, Javascript, AngularJs, HTML 5, CSS 3, Jquery, Node.js, MongoDb, Php,
                MySql,
                Apache, Nginx, Git, Google Analytics, Google Web Master Tools
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="slide" data-anchor="slide2" id="slide2">
        <div class="container slide-container">
          <div class="row">
            <div class="col-xs-4">
              <p style="font-size: 25px; line-height: 1.2; color: black; font-family: 'Quicksand'">
                He trabajo en varias áreas de Sistemas, como redes, arquitectura,
                seguridad encontrando mi pasión en el desarrollo web. Me encanta el diseño, el manejo de colores,
                usabilidad y tendencias que ofrece el diseño web, sin embargo no dejo de ser un geek que disfruta
                mucho codificando, resolviendo problemas, creando aplicaciones en su totalidad, el manejo de
                servidores, diseño de BD y la lógica de programación es lo mío. En 2009 encuentro en el desarrollo web
                el mejor entorno de trabajo para explotar mis dos pasiones, Back-End y Front-End.
              </p>
            </div>
            <div class="col-xs-3 col-xs-offset-3">
              <img src="assets/img/rod_bw.jpg" class="img-circle" style="margin-top: 20px">
            </div>
          </div>
        </div>
      </div>
      <div class="slide" data-anchor="slide3" id="slide3">
        <div class="container slide-container">
          <div class="row">
            <div class="col-xs-12" style="padding: 0px;">
              <ul class="nav nav-tabs" role="tablist" ng-init="tab = 1" style="border-bottom: none;">
                <li ng-class="{ active:tab === 1}"
                    style="width: 50%"><a href="#" ng-click="tab = 1">Experiencia</a></li>
                <li ng-class="{ active:tab === 2}" style="width: 50%"><a href="#" ng-click="tab = 2">Estudios</a></li>
                </li>
              </ul>
            </div>
          </div>

          <div ng-show="tab === 1">
            <div class="row" style="padding-top: 20px;">
              <div class="col-xs-4 ">
                <h1 style="color: #143170; ">Trendyta 2013 - </h1>

                <p style="color: #143170; font-family: 'Quicksand';">Lead Developer para desarrollo de plataforma
                  E-commerce, desarrollo de API para integracion con terceros, implementacion de pasarela de pagos
                  y SaaS para integracion con sitios externos.</p>
              </div>
              <div class="col-xs-4 ">
                <h1 style="color: #143170; ">Activamente 2012 - 2013</h1>

                <p style="color: #143170; font-family: 'Quicksand';">Diseño y desarrollo de template para wordpress para
                  la pagina principal de la compañia y diferentes campañas. Creacion de Tema personalizado en wordpress
                  para categorias, posts y paginas internas.</p>
              </div>
              <div class="col-xs-4 ">
                <h1 style="color: #143170; ">Mobalis 2010 - 2012</h1>

                <p style="color: #143170; font-family: 'Quicksand';">Administración de servidores y host / Linux, entorno
                  de desarrollo Java, Servlets, JSP y Web Services, desarrollo de aplicaciones sociales para Facebook y
                  Twitter.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 ">
                <h1 style="color: #143170; ">Maxcom 2009 - 2010</h1>

                <p style="color: #143170; font-family: 'Quicksand';">Desarrollo de interfaces para integracion de
                  se reportes financieros entre el Sistema de facturacion interna y SAP como ERP de auditoria.</p>
              </div>
              <div class="col-xs-4 ">
                <h1 style="color: #143170; ">Bancomer 2006 - 2009</h1>

                <p style="color: #143170; font-family: 'Quicksand';">
                  Desarrollo de WebServices y Arquitectura NACAR, desarrollo de Web Services en Java Mantenimiento y
                  soporte al manejo de seguro de usuarios y canales de comunicacion de arquitectura, Soporte en cambios
                  y actualizaciones al diseño de banca en linea.
                </p>
              </div>
              <div class="col-xs-4 ">
                <h1 style="color: #143170; ">Sistemas La Salle 2002 - 2006</h1>

                <p style="color: #143170; font-family: 'Quicksand';">
                  Administración de aplicaciones WEB y servidores de aplicaciones, Administración de BD Oracle, Reestructuración de Site, cableado y configuración de direcciones ip,
                  Diseño y análisis de subredes para control de área. Desarrollo de prácticas de programación en Unix
                </p>
              </div>
            </div>
          </div>

          <div class="row"  ng-show="tab === 2">

            <div class="col-xs-4 ">
              <h1 style="color: #143170; ">CodeSchool</h1>
              <p style="color: #143170; font-family: 'Quicksand';">
                Shaping Up With AngularJs
              </p>
            </div>

            <div class="col-xs-4 ">
              <h1 style="color: #143170; ">Universidad La Salle <br>2001 - 2005</h1>
              <p style="color: #143170; font-family: 'Quicksand';">
                Ingeniería Cibernética y Sistemas Computacionales
              </p>
            </div>

            <div class="col-xs-4 ">
              <h1 style="color: #143170; ">Ingles</h1>
              <p style="color: #143170; font-family: 'Quicksand';">
                80% hablado<br>
                80% lectura y escritura
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="slide" data-anchor="slide5" id="slide5">
        <div class="container slide-container">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-success">
                <div class="panel-heading">Contacto</div>
                <div class="panel-body">Correo Electronico:
                  <a href="mailto:rodsilver83@hotmail.com">rodsilver83@hotmail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/controllers/main.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>